CW2:
Tasks: Datasets for various classifers: 1. Whole dataset for 10 fold cross validation;
                                        2. Training data + Testing Data (10/11/20 test data are not on the link-further information requested on vision.
                                        3. Move 4000 from Training to Test Dataset
                                        4. Move 9000 from Training to Test Dataset
                                        
Another question asked on vision is if we can used the feature reduced dataset for exploratory analyses in CW2

Approach below is to read attributes file and join it with labels - then convert them to nominal attributes - then randomise -- the end product is ready as (1.) for classifications

In [1]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)
# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"
# Common imports
import numpy as np
import os
import tarfile
import urllib
import pandas as pd
# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
#read the attribute csvs file into respective dataframes
X = pd.read_csv ('x_train_gr_smpl.csv')

In [3]:
# read the class attribute file into Y datafram
Y = pd.read_csv('y_train_smpl.csv')
Y.columns = ['Class']

In [4]:
#join the two such that Y is the last column
XYraw = pd.concat([X,Y], axis=1)
#check the concatination
print(XYraw)

          0      1      2      3      4      5      6      7      8      9  \
0      78.0   77.0   76.0   82.0   87.0   92.0  104.0  119.0  117.0  120.0
1      73.0   75.0   79.0   78.0   76.0   75.0   89.0  107.0  133.0  125.0
2      72.0   75.0   79.0   77.0   81.0   89.0  105.0  109.0   86.0   90.0
3      67.0   70.0   74.0   80.0   93.0  107.0  110.0   96.0   69.0  100.0
4      74.0   74.0   73.0   72.0   77.0   87.0  104.0  109.0   84.0   83.0
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9685  247.0  220.0  254.0  213.0  129.0  208.0  254.0  255.0  255.0  255.0
9686  151.0  118.0  254.0  255.0  255.0  255.0  254.0  254.0  254.0  252.0
9687  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0
9688  255.0  253.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0
9689  252.0  189.0  238.0  255.0  255.0  245.0  219.0  212.0  140.0   40.0

      ...  2295  2296   2297  2298  2299  2300   2301   2302   2303  Class
0     ...  79.0  72.0   76.0  83.0  95.0  99.0   98.0   95.0   94.0      0
1     ...  93.0  85.0   77.0  69.0  73.0  83.0  100.0  101.0  101.0      0
2     ...  95.0  88.0   80.0  73.0  71.0  74.0   80.0   89.0   95.0      0
3     ...  92.0  87.0   82.0  77.0  72.0  70.0   72.0   81.0   88.0      0
4     ...  98.0  99.0  100.0  99.0  89.0  78.0   66.0   68.0   72.0      0
...   ...   ...   ...    ...   ...   ...   ...    ...    ...    ...    ...
9685  ...  29.0  27.0   26.0  25.0  23.0  22.0   26.0   26.0   27.0      9
9686  ...  31.0  30.0   30.0  30.0  30.0  29.0   26.0   28.0   27.0      9
9687  ...  49.0  42.0   36.0  33.0  36.0  39.0   31.0   39.0   43.0      9
9688  ...  27.0  26.0   27.0  35.0  28.0  27.0   26.0   26.0   24.0      9
9689  ...  23.0  23.0   30.0  32.0  23.0  23.0   26.0   20.0   17.0      9

[9690 rows x 2305 columns]

In [5]:
#convert numberic to nominal 
XYraw[['Class']] = XYraw[['Class']].replace([0, 1, 2,3,4,5,6,7,8,9], ['zero', 'one', 'two','three', 'four', 'five', 'six', 'seven', 'eight',
                                 'nine'])

In [6]:
XYraw.head()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,Class
0,78.0,77.0,76.0,82.0,87.0,92.0,104.0,119.0,117.0,120.0,...,79.0,72.0,76.0,83.0,95.0,99.0,98.0,95.0,94.0,zero
1,73.0,75.0,79.0,78.0,76.0,75.0,89.0,107.0,133.0,125.0,...,93.0,85.0,77.0,69.0,73.0,83.0,100.0,101.0,101.0,zero
2,72.0,75.0,79.0,77.0,81.0,89.0,105.0,109.0,86.0,90.0,...,95.0,88.0,80.0,73.0,71.0,74.0,80.0,89.0,95.0,zero
3,67.0,70.0,74.0,80.0,93.0,107.0,110.0,96.0,69.0,100.0,...,92.0,87.0,82.0,77.0,72.0,70.0,72.0,81.0,88.0,zero
4,74.0,74.0,73.0,72.0,77.0,87.0,104.0,109.0,84.0,83.0,...,98.0,99.0,100.0,99.0,89.0,78.0,66.0,68.0,72.0,zero

In [9]:
#randomise 
XYraw_ran = XYraw.sample(frac=1).reset_index(drop=True)
print(XYraw_ran)

          0      1      2      3      4      5      6      7      8      9  \
0     130.0  232.0   46.0  234.0  242.0  116.0   41.0   45.0   31.0   45.0
1      63.0   63.0   64.0   65.0   67.0   70.0   68.0   65.0   64.0   63.0
2     255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0
3      24.0   21.0   19.0   19.0   19.0   21.0   19.0   19.0   18.0   17.0
4     203.0  143.0  182.0  210.0  131.0  110.0  109.0  140.0  173.0  194.0
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9685   29.0   26.0   23.0   22.0   23.0   31.0   50.0   78.0   82.0   60.0
9686   60.0   60.0   62.0   60.0   62.0   64.0   68.0   84.0  132.0  189.0
9687  219.0  220.0  221.0  222.0  221.0  220.0  219.0  219.0  218.0  218.0
9688   49.0   44.0   46.0   65.0   45.0   46.0   73.0   84.0   75.0   62.0
9689   47.0   84.0  102.0   89.0  106.0  105.0   92.0   89.0   88.0   67.0

      ...   2295   2296   2297   2298   2299   2300   2301   2302   2303  \
0     ...  217.0  114.0  108.0   64.0   84.0   32.0   51.0   34.0   37.0
1     ...   50.0   54.0   56.0   56.0   54.0   54.0   54.0   50.0   48.0
2     ...  251.0  246.0  246.0  241.0  236.0  154.0   50.0   49.0   57.0
3     ...   41.0   41.0   41.0   41.0   41.0   40.0   38.0   29.0   26.0
4     ...  136.0  137.0  157.0  126.0  100.0  117.0  130.0  170.0  147.0
...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9685  ...  159.0  124.0   55.0   46.0   72.0  113.0  105.0   87.0   68.0
9686  ...  216.0  217.0  214.0  211.0  203.0  186.0  146.0  120.0   86.0
9687  ...   58.0   49.0   38.0   28.0   18.0   23.0   21.0   19.0   19.0
9688  ...   37.0   38.0   38.0   39.0   39.0   37.0   36.0   41.0   43.0
9689  ...   26.0   25.0   25.0   25.0   24.0   24.0   29.0   43.0   57.0

      Class
0       one
1       two
2     eight
3       two
4      four
...     ...
9685    one
9686    one
9687  three
9688    one
9689    one

[9690 rows x 2305 columns]

In [11]:
#generate this as a csv to directly feed into analyses on independent notebooks
XYraw_ran.to_csv('For_10_Fold_Cross_Validation.csv', index = False)